
starter_files/Gary/config.py
starter_files/Gary/.ipynb_checkpoints/Project2Gary-checkpoint.ipynb
starter_files/Gary/.ipynb_checkpoints/Untitled-checkpoint.ipynb
starter_files/Gary/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
starter_files/Gary/__pycache__/config.cpython-37.pyc
